*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box {
    width: 270px;
    height: 500px;
    border: 1px solid black;
    background-color: aliceblue;
    margin: 10px;
    position: relative;
}
.target {
    width: 100%;
    height: 100px;
    background: url('anh.jpg');
}
.dragging {
    border: 3px solid #ccc;
}

.add {
    width: 100%;
    background-color: rgb(23, 189, 131);
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
}











