* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.container {
    width: 100%;
    /* position: relative; */
}

#editContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box-row {
    width: 100%;
    height: 640px;
    background-color: rgb(32 216 255 / 74%);
    padding: 20px;
    display: flex;
    margin-bottom: 10px;
}

.box-column {
    float: left;
    margin: 0 15px;
    border: 1px solid white;
    background-color: rgb(7 129 154);
    border-radius: 5px;
    padding: 10px;
    height: 100%;
    width: 272px;
    overflow-y: auto;
    flex: 1;
}

.box-title {
    width: 100%;
    color: #fff;
    font-size: 30px;
    padding: 5px;
    text-align: center;
}

.box-group {
    width: 100%;
    margin: 5px 0;
    height: 400px;
    /* background-color: blue; */
}

.box-text {
    background-color: rgb(255 255 255 / 82%);
    margin: 8px 0;
    height: auto;
    padding: 10px;
    padding-left: 20px;
    position: relative;
    line-height: 100%;
    word-wrap: break-word;
    cursor: pointer;
    border-top-right-radius: 5px 10px;
    border-bottom-right-radius: 5px 10px;
    transition-duration: 0.5s;
}

.box-text:hover {
    transition: 0.5s;
    background-color: rgba(9, 86, 101, 0.422);
    color: #fff;
    border: 1px solid rgb(255 255 255 / 82%);
    
}

.box-text-color-red {
    background-color: #f90202c4;
    height: 100%;
    width: 10px;
    position: absolute;
    left: 0;
    top: 0;
}

.box-text-color-green {
    background-color: rgb(7 255 0);
    height: 100%;
    height: 100%;
    width: 10px;
    position: absolute;
    left: 0;
    top: 0;
}

.box-text-color-yellow {
    background-color: rgb(235, 252, 0);
    height: 100%;
    width: 10px;
    position: absolute;
    left: 0;
    top: 0;
}
.box-edit-option {
    background-color: #f2f2f2;
    /* background-color: rgb(255 255 255 / 82%); */

}
/* .green1 {
    background-color: red;
}
.geen1:hover {
    background-color: rgb(7 255 0);
}
.yellow:hover {
    background-color: rgb(235, 252, 0);
}
.red:hover {
    background-color: #f90202c4;

} */
.box-add {
    background-color: bisque;
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    cursor: pointer;
    text-align: center;
}

.box-add:hover {
    /* transition: 0.5s; */
    background-color: rgba(9, 86, 101, 0.422);
    color: #fff;
    border: 1px solid rgb(255 255 255 / 82%);
    ;
}

.box-textarea {
    width: 100%;
}

.btn {
    border: 1px solid white;
    background-color: rgb(255 255 255 / 82%);
    cursor: pointer;
    padding: 5px;
    transition-duration: 0.5s;
    border: none;
}

.btn:hover {
    transition: 0.4s;
    background-color: rgba(9, 86, 101, 0.422);
    color: #fff;
    border: 1px solid rgb(255 255 255 / 82%);
    ;
}


.btn-x:hover{
    background-color: red;
    color: white;
    border: 1px solid white;
}
.btn-delete:hover {
    background-color: red;
    color: white;
    border: 1px solid white;
}

.create {
    width: 47%;
}

.create:hover {
    background-color: green;
}

.cancel {
    width: 50%;
}

.cancel:hover {
    background-color: red;
}

.btn-update,
.btn-delete,
.btn-changelink,
.btn-x {
    border-radius: 3px;
    float: right;
    padding: 8px;
    border: 1px solid rgb(2, 57, 68);
    font-size: 15px;
}

.btn-update {
    margin-right: 10px;
}

.btn-changelink {}

#textarea {
    width: 100%;
}

.d-none {
    display: none;
}

/* box - edit */
.box-edit {
    color: rgb(1, 6, 10);
    margin: 0 auto;
    width: 900px;
    border-radius: 5px;
    /* background: darkblue; */
    border: 2px solid rgb(2, 57, 68);
    background-color: #f2f2f2;

}

.box-edit-h2 {
    color: rgb(11 145 173);
    padding: 5px;
}

.link {
    text-decoration: none;
    color: rgb(11 145 173);
}

.link:hover {
    color: rgb(0, 200, 255);
}

.box-edit-name {
    padding: 10px;
}


.box-edit-delete {
    padding: 20px;
    border-radius: 5px;
    width: 50%;
    height: 530px;
    /* background-color: bisque; */
    background-color: #f2f2f2;
}

.box-edit-products {
    padding: 20px;
    /* background-color: aquamarine; */
    background-color: #f2f2f2;
    height: 530px;
    width: 50%;
    border-radius: 5px;
}

.box-edit-stick {
    display: flex;
}

.box-edit-color {
    width: 100%;
    height: 50px;
}
.box-edit-tasks {
    padding: 20px;
    width: 50%;
}

.input {
    margin: 5px 0;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.input:hover {
    background-color: rgba(9, 86, 101, 0.422);
}
.textarea {
    height: 50px;
    margin: 5px 0;
    width: 100%;
    border-radius: 5px;
    padding: 5px;
}
.textarea:hover {
    background-color: rgba(9, 86, 101, 0.422);
}
.block-row {
    display: inline-block;
    background-color: rgb(196, 205, 255);
}



.box-edit-date {
    width: 100%;
    padding: 10px;
    height: 50px;
}

.box-edit-date-start,
.box-edit-date-end {
    padding: 10px;
    height: 50px;
    width: 100%;
    margin: 5px 0;
}
.box-text-date {
    margin-top: 10px;
}

.d-none-edit {
    display: none;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    margin-bottom: 10px;
    /* width:600px; */
}

.active,
.accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
    width: 100%;
}

/* ==================================================== */