

.table{
    border-collapse: collapse;
    background-color: aliceblue;
    width: 100%;
    /* border: 1px solid; */
    text-justify: center;
    
}
.table1 {
    color: blue;
    width: 100%;

}
.table1>caption {
    font-size: 30px;
    margin-bottom: 50px;
}

.table>tr, th {
    background-color: yellow;
    padding: 5px;
    /* border: 1px solid; */
}
.table>tr, td {
    padding: 5px;
    /* border: 1px solid; */
}