*{
    padding: 0;
    margin: 0;
    
}

.navigation {
    width: 100%;
    background-color: rgba(232, 216, 193, 0.5);
    position: fixed;
}
.navigation ul {
    text-align: center;
}
.navigation li {
    display: inline-block;
    padding: 20px;
}
.navigation a {
    text-decoration: none;
}
.navigation a:hover {
    color: rgba(255, 1, 1, 0.4);
    transition: 0.2s;
}
/* .menu-con li a {
    display: block;
} */
/* .an-menu {
    display: none;
} */
.myImg {
    width: 100%;
    height: 100%; 
    /* padding-top:50%; */
    cursor: pointer;
    /* background: url('/my-project/DUAN/HTML/Img/anh.png') top center / cover no-repeat; */
}
.myImg img{
    width: 100% ;
    height: 100%;
    background-size: auto;
    margin-left: auto;
    margin-right: auto;
}

.menu-home{
    display: flex;
    /* float: left; */
    margin-left: 50px;
    margin-right: 50px;
    background-color: rgb(134, 120, 146);

}
.menu-home .nuoc-uong {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.menu-home .nuoc-uong img {
    height: 270px;
    width: 270px;   
}
.menu-home .nuoc-uong a{
    display: block;
    font-size: 20px;
    text-decoration: none;
}
.menu-home .nuoc-uong a:hover {
    color: aquamarine;
    transition: 0.2s;
}

.icon {
    font-size: 10px;
}
.footer {
    background-color: bisque;
    height: 400px;
    margin-top: 50px;
}
