* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navigation {
    width: 100%;
    background-color: rgba(232, 216, 193, 0.5);
    position: fixed;
}

.navigation ul {
    text-align: center;
}

.navigation li {
    display: inline-block;
    padding: 20px;
}

.navigation a {
    text-decoration: none;
}

.navigation a:hover {
    color: rgba(255, 1, 1, .8);
    transition: 0.2s;
}

/* .menu-con li a {
    display: block;
} */
/* .an-menu {
    display: none;
} */
.myImg {
    width: 100%;
    height: 100%;
    /* padding-top:50%; */
    cursor: pointer;
    /* background: url('/my-project/DUAN/HTML/Img/anh.png') top center / cover no-repeat; */
}

.myImg img {
    width: 100%;
    height: 100%;
    background-size: auto;
    margin-left: auto;
    margin-right: auto;
}

.menu-home {
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    cursor: pointer;
    height: 270px;
}

.menu-home .nuoc-uong {
    margin-left: auto;
    margin-right: auto;
    /* text-align: center; */
    background-color: rgba(232, 216, 193, 0.5);
    border-radius: 10px;
    box-shadow: rgba(232, 216, 193, 0.5);
}

.menu-home .nuoc-uong img {
    height: 100%;
    width: 270px;
}

.menu-home .nuoc-uong img:hover {
    background-color: #E57905;
    transition: 0.8s;
    border-radius: 10px ;
    transform: scale(1.03);
}

.menu-home .nuoc-uong a {
    color: rgba(15, 15, 15, 0.61);
    display: block;
    font-size: 20px;
    text-decoration: line-through;
}

.menu-home .nuoc-uong a:hover {
    color: rgba(255, 1, 1, 0.7);
    transition: 0.2s;
}

.icon {
    font-size: 10px;
}

.footer {
    background-color: rgba(232, 216, 193, 0.5);
    height: 400px;
    margin-top: 50px;
}